body
{
    background: #CCC;
}

#Header a:hover
{
    color: #FFF;

}

#background-image
{
    background:url('../image/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

#About
{
    margin-top:-200px;
}

#About .fa
{
    color: #FFF;
} 

#About span
{
    padding: 10px 20px 10px 20px;
}

#About hr
{
    border-width: 3px;
    margin-top: 06px;
}

#Education span
{
    padding: 10px 20px 10px 20px;
}

#Education hr
{
    border-width: 3px;
    margin-top: 06px;  
}

.media img{
    padding: 10px 20px;
}

#Favourites span
{
    padding: 10px 20px 10px 20px;
}

#Favourites hr
{
    border-width:3px;
    margin-top:06px;
}

#Contact span
{
    padding: 10px 20px 10px 20px;
}

#Contact hr
{
    border-width:3px;
    margin-top:06px;

}